<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav> 
        <a>Home</a>
        <a>Login</a>
        <a>Logout</a>
        <a>Sign Up</a>
    </nav>
{%block content %}
<h1> Welcome to Blogly!  </h1>
<a href="/users"> See all Blogly users </a>
<br>
<a href="/users/new"> Sign up to see more </a>

{% endblock %}

</body>
</html>